dataset Cleaning

import libraries

In [12]:
import pandas as pd
import numpy as np
import random
from faker import Faker
from datetime import datetime, timedelta

create synthetic dataset

In [14]:
# Set seeds for reproducibility
random.seed(42)
np.random.seed(42)

# Number of rows/sessions to generate
n_rows = 30000

# Pre-generate a pool of unique user IDs (simulate that some visitors have multiple sessions)
n_unique_users = 15000
user_ids = [f"U{str(i).zfill(5)}" for i in range(1, n_unique_users + 1)]

# Pre-define locales for names: US (American), IN (Indian), FR (French), JA (Japanese), ZH (Chinese)
locales = ['en_US', 'en_IN', 'fr_FR', 'ja_JP', 'zh_CN']
faker_objs = {loc: Faker(loc) for loc in locales}

# Email providers list
email_providers = ["gmail.com", "hotmail.com", "outlook.com", "yahoo.com", "protonmail.com"]

# Pre-define some city-country pairs from around the world
locations = [
    ("New York", "USA"),
    ("Los Angeles", "USA"),
    ("Chicago", "USA"),
    ("London", "UK"),
    ("Manchester", "UK"),
    ("Paris", "France"),
    ("Lyon", "France"),
    ("Mumbai", "India"),
    ("Delhi", "India"),
    ("Bangalore", "India"),
    ("Tokyo", "Japan"),
    ("Osaka", "Japan"),
    ("Sydney", "Australia"),
    ("Melbourne", "Australia"),
    ("Toronto", "Canada"),
    ("Vancouver", "Canada"),
    ("Berlin", "Germany"),
    ("Munich", "Germany"),
    ("Singapore", "Singapore"),
    ("Dubai", "UAE"),
    ("Hong Kong", "Hong Kong"),
    ("Rome", "Italy"),
    ("Madrid", "Spain"),
    ("Moscow", "Russia"),
    ("Beijing", "China"),
    ("Shanghai", "China")
]

# Device types and their probabilities
device_types = ["Mobile", "Desktop", "Tablet"]
device_probs = [0.6, 0.3, 0.1]

# Variant groups (landing page designs)
variant_groups = ["Vibrant", "Cold", "Heat"]

# Conversion probabilities by variant group
conversion_probs = {"Vibrant": 0.12, "Cold": 0.18, "Heat": 0.15}

# Sign in types with probabilities
sign_in_types = ["Email", "Guest"]
sign_in_probs = [0.7, 0.3]

# Demographic gender choices with probabilities
genders = ["Male", "Female", "NotAnswered"]
gender_probs = [0.45, 0.45, 0.10]

# Traffic sources and probabilities
traffic_sources = ["Organic", "Paid", "Social", "Referral"]
traffic_probs = [0.5, 0.2, 0.2, 0.1]

# Payment types and card types (only applicable if a Purchase is made)
payment_types = ["Card", "COD"]
payment_probs = [0.7, 0.3]
card_types = ["Amex", "Visa", "Master"]

# Product list for speakers – each is a dict with product name and price
products = [
    {"product": "JBL Flip 6", "price": 129.95},
    {"product": "JBL Charge 5", "price": 179.95},
    {"product": "JBL Go 3", "price": 49.95},
    {"product": "JBL Clip 4", "price": 79.95},
    {"product": "JBL Xtreme 3", "price": 379.95},
    {"product": "JBL Boombox 3", "price": 499.95},
    {"product": "JBL Pulse 5", "price": 249.95},
    {"product": "Sony SRS-XB23", "price": 99.99},
    {"product": "Sony SRS-XB33", "price": 149.99},
    {"product": "Sony SRS-XB43", "price": 249.99},
    {"product": "Sony SRS-XB13", "price": 59.99},
    {"product": "Sony SRS-XE200", "price": 129.99},
    {"product": "Sony SRS-XE300", "price": 199.99},
    {"product": "Sony SRS-XG300", "price": 249.99},
    {"product": "Bose SoundLink Flex", "price": 149.00},
    {"product": "Bose SoundLink Revolve+ II", "price": 329.00},
    {"product": "Bose SoundLink Micro", "price": 119.00},
    {"product": "Bose SoundLink Revolve II", "price": 199.00},
    {"product": "Ultimate Ears Boom 3", "price": 149.99},
    {"product": "Ultimate Ears Megaboom 3", "price": 199.99},
    {"product": "Ultimate Ears Wonderboom 3", "price": 99.99},
    {"product": "Ultimate Ears Hyperboom", "price": 449.99},
    {"product": "Ultimate Ears Boom 2", "price": 129.99},
    {"product": "Ultimate Ears Roll 2", "price": 99.99},
    {"product": "Anker Soundcore Motion+", "price": 99.99},
    {"product": "Anker Soundcore Motion Boom", "price": 99.99},
    {"product": "Anker Soundcore 2", "price": 39.99},
    {"product": "Anker Soundcore 3", "price": 49.99},
    {"product": "Anker Soundcore Flare 2", "price": 79.99},
    {"product": "Anker Soundcore Rave Neo", "price": 119.99},
    {"product": "Anker Soundcore Motion Boom Plus", "price": 149.99},
    {"product": "Tribit StormBox Micro 2", "price": 59.99},
    {"product": "Tribit StormBox Pro", "price": 99.99},
    {"product": "Tribit XSound Go", "price": 35.99},
    {"product": "Tribit MaxSound Plus", "price": 59.99},
    {"product": "Tribit StormBox", "price": 79.99},
    {"product": "Tribit XSound Mega", "price": 69.99},
    {"product": "Tribit StormBox Blast", "price": 159.99},
    {"product": "Marshall Emberton", "price": 149.99},
    {"product": "Marshall Stockwell II", "price": 299.99},
    {"product": "Marshall Kilburn II", "price": 299.99},
    {"product": "Marshall Tufton", "price": 449.99},
    {"product": "Marshall Middleton", "price": 299.99},
    {"product": "Marshall Willen", "price": 119.99},
    {"product": "Marshall Emberton II", "price": 169.99},
    {"product": "Bang & Olufsen Beosound A1 (2nd Gen)", "price": 250.00},
    {"product": "Bang & Olufsen Beosound A5", "price": 1099.00},
    {"product": "Bang & Olufsen Beosound Explore", "price": 199.00},
    {"product": "Bang & Olufsen Beosound A9", "price": 2499.00},
    {"product": "Bang & Olufsen Beosound Emerge", "price": 799.00},
    {"product": "Harman Kardon Onyx Studio 7", "price": 299.95},
    {"product": "Harman Kardon Onyx Studio 8", "price": 349.95},
    {"product": "Harman Kardon Go + Play", "price": 499.95},
    {"product": "Harman Kardon Aura Studio 3", "price": 349.95},
    {"product": "Harman Kardon Esquire Mini 2", "price": 149.95},
    {"product": "Sennheiser Momentum Wireless", "price": 499.95},
    {"product": "Sennheiser CX True Wireless", "price": 99.95},
    {"product": "Sennheiser AMBEO Smart Speaker", "price": 1999.95},
    {"product": "Sennheiser HD 250BT", "price": 199.95},
    {"product": "Sennheiser RS 175", "price": 299.95},
    {"product": "LG XBOOM Go PL7", "price": 199.99},
    {"product": "LG XBOOM Go PL5", "price": 149.99},
    {"product": "LG XBOOM Go PK7", "price": 299.99},
    {"product": "LG XBOOM Go PK5", "price": 199.99},
    {"product": "LG XBOOM Go XG7", "price": 399.99},
    {"product": "LG XBOOM Go XG5", "price": 299.99},
    {"product": "LG XBOOM Go XG3", "price": 199.99},
    {"product": "LG XBOOM Go XG2", "price": 149.99},
    {"product": "LG XBOOM Go XG1", "price": 99.99},
    {"product": "LG XBOOM Go XG0", "price": 79.99},
    {"product": "Philips S7505", "price": 50.00},
    {"product": "Philips S75015", "price": 50.00},
    {"product": "Philips S75029", "price": 200.00}
]

# Define the start date for sessions (from January 1, 2025) up to now
start_date = datetime(2025, 1, 1)
end_date = datetime.now()

def random_timestamp(start, end):
    """Return a random datetime between start and end."""
    return Faker().date_time_between(start_date=start, end_date=end)

# Prepare list to collect all rows
data = []

for i in range(n_rows):
    # Session and user details
    session_id = f"S{str(i+1).zfill(6)}"
    user_id = random.choice(user_ids)
    sign_in = random.choices(sign_in_types, weights=sign_in_probs, k=1)[0]
    
    # Choose a random locale for the name and generate name
    loc = random.choice(locales)
    fake = faker_objs[loc]
    name = fake.name()
    
    # Generate email based on name (if sign_in is Email) else leave blank
    name_str = ''.join(e for e in name if e.isalnum()).lower()
    if sign_in == "Email":
        email = f"{name_str}{random.randint(1,999)}@{random.choice(email_providers)}"
    else:
        email = ""  # Guest users have no registered email
    
    # Demographics
    demographic_age = random.randint(14, 80)
    demographic_gender = random.choices(genders, weights=gender_probs, k=1)[0]
    
    # Determine age group based on demographic_age
    if demographic_age < 20:
        age_group = "Teenage"
    elif demographic_age < 65:
        age_group = "Adult"
    else:
        age_group = "Old"
    
    # Location and Country (choose from predefined pairs)
    loc_choice = random.choice(locations)
    city, country = loc_choice[0], loc_choice[1]
    
    # Device and timestamp
    device_type = random.choices(device_types, weights=device_probs, k=1)[0]
    timestamp = random_timestamp(start_date, end_date)
    
    # Variant group (landing page design)
    variant_group = random.choice(variant_groups)
    
    # Engagement metrics
    time_spent = round(random.uniform(1, 20), 2)  # minutes
    pages_visited = random.randint(1, 10)
    
    # Determine conversion_flag based on variant conversion probability
    conv_prob = conversion_probs[variant_group]
    conversion_flag = np.random.binomial(1, conv_prob)
    
    # Determine conversion_type (if conversion occurred)
    conversion_type = ""
    if conversion_flag:
        if sign_in == "Email":
            # Registered users can either Signup or Purchase
            conversion_type = random.choice(["Signup", "Purchase"])
        else:
            # Guest users can only Purchase
            conversion_type = "Purchase"
    
    # Traffic source
    traffic_source = random.choices(traffic_sources, weights=traffic_probs, k=1)[0]
    
    # Initialize Purchase-related fields
    product_Purchased = ""
    revenue = 0.0
    payment_type = ""
    card_type_val = ""
    coupon_applied = ""
    
    if conversion_flag and conversion_type == "Purchase":
        # Randomly pick a product; now only include the product name (without the price)
        product_choice = random.choice(products)
        product_Purchased = product_choice['product']
        revenue = product_choice['price']
        # Payment details
        payment_type = random.choices(payment_types, weights=payment_probs, k=1)[0]
        if payment_type == "Card":
            card_type_val = random.choice(card_types)
        # Coupon applied: yes with 30% chance
        coupon_applied = random.choices(["Yes", "No"], weights=[0.3, 0.7], k=1)[0]
    
    # Bounce flag: if only one page visited then bounce else 10% chance even if >1 page
    bounce_flag = 1 if pages_visited == 1 else (np.random.binomial(1, 0.1))
    
    # Append the row dictionary
    data.append({
        "user_id": user_id,
        "session_id": session_id,
        "sign_in": sign_in,
        "name": name,
        "demographic_age": demographic_age,
        "demographic_age_group": age_group,
        "demographic_gender": demographic_gender,
        "email": email,
        "Location": city,
        "Country": country,
        "device_type": device_type,
        "timestamp": timestamp,
        "variant_group": variant_group,
        "time_spent": time_spent,
        "pages_visited": pages_visited,
        "conversion_flag": conversion_flag,
        "conversion_type": conversion_type,
        "traffic_source": traffic_source,
        "product_Purchased": product_Purchased,
        "revenue": revenue,
        "payment_type": payment_type,
        "card_type": card_type_val,
        "Coupon_applied": coupon_applied,
        "bounce_flag": bounce_flag
    })

# Create DataFrame
df = pd.DataFrame(data)
print("Dataset with 30,000 rows generated and saved as CSV and Excel files.")

In [38]:
df.head(10)

,user_id,session_id,sign_in,name,demographic_age,demographic_age_group,demographic_gender,email,Location,Country,...,pages_visited,conversion_flag,conversion_type,traffic_source,product_Purchased,revenue,payment_type,card_type,Coupon_applied,bounce_flag
0,U10477,S000001,Email,Victor Navarro-Noël,31,Adult,Female,victornavarronoël251@hotmail.com,Rome,Italy,...,7,0,<NA>,Organic,<NA>,0.00,<NA>,<NA>,<NA>,1
1,U01536,S000002,Email,王秀云,39,Adult,Female,王秀云617@gmail.com,Madrid,Spain,...,5,0,<NA>,Social,<NA>,0.00,<NA>,<NA>,<NA>,0
2,U00107,S000003,Guest,Ucchal Sabharwal,68,Old,Male,<NA>,Manchester,UK,...,7,0,<NA>,Organic,<NA>,0.00,<NA>,<NA>,<NA>,0
3,U13886,S000004,Email,Virginie Schmitt,72,Old,Female,virginieschmitt827@gmail.com,Sydney,Australia,...,10,0,<NA>,Social,<NA>,0.00,<NA>,<NA>,<NA>,0
4,U05926,S000005,Email,Cynthia Drake,51,Adult,NotAnswered,cynthiadrake47@hotmail.com,Mumbai,India,...,6,0,<NA>,Organic,<NA>,0.00,<NA>,<NA>,<NA>,0
5,U05821,S000006,Email,Laure-Suzanne Durand,35,Adult,Female,lauresuzannedurand719@gmail.com,Mumbai,India,...,9,0,<NA>,Organic,<NA>,0.00,<NA>,<NA>,<NA>,1
6,U05314,S000007,Guest,Rachel Medina DVM,43,Adult,Female,<NA>,Shanghai,China,...,10,1,Purchase,Social,Marshall Kilburn II,299.99,Card,Visa,No,0
7,U14984,S000008,Email,Damyanti Balasubramanian,45,Adult,Female,damyantibalasubramanian272@hotmail.com,Munich,Germany,...,10,0,<NA>,Organic,<NA>,0.00,<NA>,<NA>,<NA>,0
8,U03594,S000009,Guest,Lipika Kata,79,Old,Female,<NA>,Beijing,China,...,3,0,<NA>,Social,<NA>,0.00,<NA>,<NA>,<NA>,0
9,U06917,S000010,Email,山本 亮介,73,Old,Female,山本亮介391@protonmail.com,Munich,Germany,...,2,0,<NA>,Paid,<NA>,0.00,<NA>,<NA>,<NA>,0

In [36]:
df.columns

Index(['user_id', 'session_id', 'sign_in', 'name', 'demographic_age',
       'demographic_age_group', 'demographic_gender', 'email', 'Location',
       'Country', 'device_type', 'timestamp', 'variant_group', 'time_spent',
       'pages_visited', 'conversion_flag', 'conversion_type', 'traffic_source',
       'product_Purchased', 'revenue', 'payment_type', 'card_type',
       'Coupon_applied', 'bounce_flag'],
      dtype='object')

In [40]:
df.shape

(30000, 24)

In [42]:
df.dtypes

user_id                          object
session_id                       object
sign_in                          object
name                             object
demographic_age                   int64
demographic_age_group            object
demographic_gender               object
email                            object
Location                         object
Country                          object
device_type                      object
timestamp                datetime64[ns]
variant_group                    object
time_spent                      float64
pages_visited                     int64
conversion_flag                   int64
conversion_type                  object
traffic_source                   object
product_Purchased                object
revenue                         float64
payment_type                     object
card_type                        object
Coupon_applied                   object
bounce_flag                       int64
dtype: object

In [52]:
df.isnull().sum()

user_id                      0
session_id                   0
sign_in                      0
name                         0
demographic_age              0
demographic_age_group        0
demographic_gender           0
email                     9025
Location                     0
Country                      0
device_type                  0
timestamp                    0
variant_group                0
time_spent                   0
pages_visited                0
conversion_flag              0
conversion_type          25465
traffic_source               0
product_Purchased        27008
revenue                      0
payment_type             27008
card_type                27905
Coupon_applied           27008
bounce_flag                  0
dtype: int64

In [46]:
df.duplicated().sum()

0

as my every column is important insted of na to nan and then checking and then droping am creating new categories for those columns

In [59]:
df["email"] = df["email"].fillna("NP")
df["conversion_type"] = df["conversion_type"].fillna("NCT")
df["product_Purchased"] = df["product_Purchased"].fillna("NPP")
df["payment_type"] = df["payment_type"].fillna("NPT")
df["card_type"] = df["card_type"].fillna("NCAT")
df["Coupon_applied"] = df["Coupon_applied"].fillna("ND")

In [61]:
df.isnull().sum()

user_id                  0
session_id               0
sign_in                  0
name                     0
demographic_age          0
demographic_age_group    0
demographic_gender       0
email                    0
Location                 0
Country                  0
device_type              0
timestamp                0
variant_group            0
time_spent               0
pages_visited            0
conversion_flag          0
conversion_type          0
traffic_source           0
product_Purchased        0
revenue                  0
payment_type             0
card_type                0
Coupon_applied           0
bounce_flag              0
dtype: int64

In [79]:
df["demographic_gender"] = df["demographic_gender"].fillna("No Answer")

In [81]:
df.head(10)

,user_id,session_id,sign_in,name,demographic_age,demographic_age_group,demographic_gender,email,Location,Country,...,pages_visited,conversion_flag,conversion_type,traffic_source,product_Purchased,revenue,payment_type,card_type,Coupon_applied,bounce_flag
0,U10477,S000001,Email,Victor Navarro-Noël,31,Adult,Female,victornavarronoël251@hotmail.com,Rome,Italy,...,7,0,NCT,Organic,NPP,0.00,NPT,NCAT,ND,1
1,U01536,S000002,Email,王秀云,39,Adult,Female,王秀云617@gmail.com,Madrid,Spain,...,5,0,NCT,Social,NPP,0.00,NPT,NCAT,ND,0
2,U00107,S000003,Guest,Ucchal Sabharwal,68,Old,Male,Not Provided,Manchester,UK,...,7,0,NCT,Organic,NPP,0.00,NPT,NCAT,ND,0
3,U13886,S000004,Email,Virginie Schmitt,72,Old,Female,virginieschmitt827@gmail.com,Sydney,Australia,...,10,0,NCT,Social,NPP,0.00,NPT,NCAT,ND,0
4,U05926,S000005,Email,Cynthia Drake,51,Adult,No Answer,cynthiadrake47@hotmail.com,Mumbai,India,...,6,0,NCT,Organic,NPP,0.00,NPT,NCAT,ND,0
5,U05821,S000006,Email,Laure-Suzanne Durand,35,Adult,Female,lauresuzannedurand719@gmail.com,Mumbai,India,...,9,0,NCT,Organic,NPP,0.00,NPT,NCAT,ND,1
6,U05314,S000007,Guest,Rachel Medina DVM,43,Adult,Female,Not Provided,Shanghai,China,...,10,1,Purchase,Social,Marshall Kilburn II,299.99,Card,Visa,No,0
7,U14984,S000008,Email,Damyanti Balasubramanian,45,Adult,Female,damyantibalasubramanian272@hotmail.com,Munich,Germany,...,10,0,NCT,Organic,NPP,0.00,NPT,NCAT,ND,0
8,U03594,S000009,Guest,Lipika Kata,79,Old,Female,Not Provided,Beijing,China,...,3,0,NCT,Social,NPP,0.00,NPT,NCAT,ND,0
9,U06917,S000010,Email,山本 亮介,73,Old,Female,山本亮介391@protonmail.com,Munich,Germany,...,2,0,NCT,Paid,NPP,0.00,NPT,NCAT,ND,0

In [85]:
for col in df.columns:
    print(f"Value counts for column: {col}")
    print(df[col].value_counts(dropna=False))  # Shows counts including NaN values
    print("\n" + "-"*40 + "\n")  # Separator for better readability

Value counts for column: user_id
user_id
U13006    9
U02083    8
U04903    8
U08000    8
U13329    8
         ..
U11920    1
U08557    1
U07455    1
U05731    1
U06035    1
Name: count, Length: 12984, dtype: int64

----------------------------------------

Value counts for column: session_id
session_id
S000001    1
S019997    1
S020009    1
S020008    1
S020007    1
          ..
S009996    1
S009995    1
S009994    1
S009993    1
S030000    1
Name: count, Length: 30000, dtype: int64

----------------------------------------

Value counts for column: sign_in
sign_in
Email    20975
Guest     9025
Name: count, dtype: int64

----------------------------------------

Value counts for column: name
name
佐藤 花子                 15
鈴木 花子                 15
鈴木 智也                 13
鈴木 さゆり                13
佐藤 くみ子                13
                      ..
Sébastien Philippe     1
Alexandre Carre        1
Antoinette Boyer       1
Ojasvi Bobal           1
莫超                     1
Name: count, Length: 23706, dtype: int64

----------------------------------------

Value counts for column: demographic_age
demographic_age
27    497
62    493
78    484
14    482
30    477
     ...
44    415
15    413
39    405
54    400
25    400
Name: count, Length: 67, dtype: int64

----------------------------------------

Value counts for column: demographic_age_group
demographic_age_group
Adult      20139
Old         7156
Teenage     2705
Name: count, dtype: int64

----------------------------------------

Value counts for column: demographic_gender
demographic_gender
Male         13606
Female       13487
No Answer     2907
Name: count, dtype: int64

----------------------------------------

Value counts for column: email
email
Not Provided                        9025
吉田翔太957@hotmail.com                    2
鈴木美加子904@gmail.com                     2
victornavarronoël251@hotmail.com       1
girikzachariah107@gmail.com            1
                                    ...
张建军939@outlook.com                     1
常想831@gmail.com                        1
michelleruiz347@outlook.com            1
advaithganesan847@protonmail.com       1
莫超735@yahoo.com                        1
Name: count, Length: 20974, dtype: int64

----------------------------------------

Value counts for column: Location
Location
Manchester     1200
Chicago        1199
Toronto        1194
Mumbai         1191
Delhi          1185
Vancouver      1180
Hong Kong      1176
Madrid         1174
Osaka          1170
Sydney         1170
Paris          1159
Shanghai       1158
Bangalore      1153
Tokyo          1153
Rome           1148
Dubai          1147
Melbourne      1141
Berlin         1138
Munich         1136
Los Angeles    1131
Lyon           1131
London         1124
Singapore      1116
New York       1114
Beijing        1114
Moscow         1098
Name: count, dtype: int64

----------------------------------------

Value counts for column: Country
Country
India        3529
USA          3444
Canada       2374
UK           2324
Japan        2323
Australia    2311
France       2290
Germany      2274
China        2272
Hong Kong    1176
Spain        1174
Italy        1148
UAE          1147
Singapore    1116
Russia       1098
Name: count, dtype: int64

----------------------------------------

Value counts for column: device_type
device_type
Mobile     18008
Desktop     8953
Tablet      3039
Name: count, dtype: int64

----------------------------------------

Value counts for column: timestamp
timestamp
2025-01-18 21:30:04.168185    1
2025-02-04 00:22:35.914031    1
2025-02-05 05:48:03.944074    1
2025-01-31 19:55:52.572812    1
2025-01-29 10:03:52.072491    1
                             ..
2025-02-15 13:35:56.829656    1
2025-01-13 07:48:53.800830    1
2025-02-17 06:07:40.294809    1
2025-01-16 00:52:46.941612    1
2025-02-16 09:59:45.665965    1
Name: count, Length: 30000, dtype: int64

----------------------------------------

Value counts for column: variant_group
variant_group
Vibrant    10046
Heat       10026
Cold        9928
Name: count, dtype: int64

----------------------------------------

Value counts for column: time_spent
time_spent
2.43     33
19.45    32
11.50    30
14.22    30
16.15    30
         ..
10.61     5
16.91     5
1.02      5
3.36      4
1.00      4
Name: count, Length: 1901, dtype: int64

----------------------------------------

Value counts for column: pages_visited
pages_visited
5     3059
6     3044
9     3044
10    3010
1     3010
2     3007
4     2969
3     2965
8     2950
7     2942
Name: count, dtype: int64

----------------------------------------

Value counts for column: conversion_flag
conversion_flag
0    25465
1     4535
Name: count, dtype: int64

----------------------------------------

Value counts for column: conversion_type
conversion_type
NCT         25465
Purchase     2992
Signup       1543
Name: count, dtype: int64

----------------------------------------

Value counts for column: traffic_source
traffic_source
Organic     15084
Social       5992
Paid         5950
Referral     2974
Name: count, dtype: int64

----------------------------------------

Value counts for column: product_Purchased
product_Purchased
NPP                                     27008
JBL Flip 6                                 63
Anker Soundcore 3                          55
LG XBOOM Go PL7                            53
Sony SRS-XB33                              53
                                        ...
Anker Soundcore 2                          31
Bang & Olufsen Beosound A1 (2nd Gen)       31
Tribit StormBox Blast                      31
Sennheiser AMBEO Smart Speaker             31
Anker Soundcore Motion+                    31
Name: count, Length: 74, dtype: int64

----------------------------------------

Value counts for column: revenue
revenue
0.00       27008
99.99        272
149.99       257
199.99       225
299.99       200
59.99        130
499.95       122
79.99        118
199.00        91
249.99        87
50.00         84
299.95        83
129.99        82
349.95        78
119.99        74
449.99        72
129.95        63
49.99         55
1099.00       53
179.95        52
799.00        47
379.95        47
249.95        43
149.00        42
399.99        41
149.95        41
169.99        41
49.95         41
199.95        40
35.99         38
200.00        38
69.99         37
119.00        37
2499.00       36
79.95         36
99.95         33
329.00        32
1999.95       31
39.99         31
250.00        31
159.99        31
Name: count, dtype: int64

----------------------------------------

Value counts for column: payment_type
payment_type
NPT     27008
Card     2095
COD       897
Name: count, dtype: int64

----------------------------------------

Value counts for column: card_type
card_type
NCAT      27905
Visa        710
Master      707
Amex        678
Name: count, dtype: int64

----------------------------------------

Value counts for column: Coupon_applied
Coupon_applied
ND     27008
No      2126
Yes      866
Name: count, dtype: int64

----------------------------------------

Value counts for column: bounce_flag
bounce_flag
0    24327
1     5673
Name: count, dtype: int64

----------------------------------------

In [89]:
df.columns

Index(['user_id', 'session_id', 'sign_in', 'name', 'demographic_age',
       'demographic_age_group', 'demographic_gender', 'email', 'Location',
       'Country', 'device_type', 'timestamp', 'variant_group', 'time_spent',
       'pages_visited', 'conversion_flag', 'conversion_type', 'traffic_source',
       'product_Purchased', 'revenue', 'payment_type', 'card_type',
       'Coupon_applied', 'bounce_flag'],
      dtype='object')

In [95]:
df.rename(columns={
    "Location": "location",
    "Country": "country",
    "product_Purchased": "product_purchased",
     "Coupon_applied": "coupon_applied",
    "revenue": "revenue_$",    
}, inplace=True)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                30000 non-null  object
 1   session_id             30000 non-null  object
 2   sign_in                30000 non-null  object
 3   name                   30000 non-null  object
 4   demographic_age        30000 non-null  int64
 5   demographic_age_group  30000 non-null  object
 6   demographic_gender     30000 non-null  object
 7   email                  30000 non-null  object
 8   location               30000 non-null  object
 9   country                30000 non-null  object
 10  device_type            30000 non-null  object
 11  timestamp              30000 non-null  datetime64[ns]
 12  variant_group          30000 non-null  object
 13  time_spent             30000 non-null  float64
 14  pages_visited          30000 non-null  int64
 15  conversion_flag        30000 non-null  int64
 16  conversion_type        30000 non-null  object
 17  traffic_source         30000 non-null  object
 18  product_purchased      30000 non-null  object
 19  revenue_$              30000 non-null  float64
 20  payment_type           30000 non-null  object
 21  card_type              30000 non-null  object
 22  coupon_applied         30000 non-null  object
 23  bounce_flag            30000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(17)
memory usage: 5.5+ MB

In [101]:
df.isnull().sum()

user_id                  0
session_id               0
sign_in                  0
name                     0
demographic_age          0
demographic_age_group    0
demographic_gender       0
email                    0
location                 0
country                  0
device_type              0
timestamp                0
variant_group            0
time_spent               0
pages_visited            0
conversion_flag          0
conversion_type          0
traffic_source           0
product_purchased        0
revenue_$                0
payment_type             0
card_type                0
coupon_applied           0
bounce_flag              0
dtype: int64

In [103]:
df.duplicated().sum()

0

In [113]:
df.to_csv("cleaned_speakers_data.csv", index=False)

In [115]:
df.to_excel("cleaned_speakers_data.xlsx", index=False)